body {
    background-color: #f8fafa;
}
.container {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
nav {
    background-color:blue;
}